<div class="w-full h-full flex items-center justify-center">
  <div class="flex gap-x-4">
    <div
      class="w-8 h-8 bg-pink-700 rounded-full animate-custom-bounce delay-100"
    ></div>
    <div
      class="w-8 h-8 bg-pink-700 rounded-full animate-custom-bounce delay-200"
    ></div>
    <div
      class="w-8 h-8 bg-pink-700 rounded-full animate-custom-bounce delay-300"
    ></div>
    <div
      class="w-8 h-8 bg-pink-700 rounded-full animate-custom-bounce delay-400"
    ></div>
    <div
      class="w-8 h-8 bg-pink-700 rounded-full animate-custom-bounce delay-500"
    ></div>
  </div>
</div>
