@if (isLoading) {
<p>Loading...</p>
} @else {
<div class="grid grid-cols-3 gap-x-2 w-full h-[80vh]">
  <!-- Left Side-->
  <div class="flex flex-col col-span-1 gap-y-1 w-full h-full p-3 items-center">
    <div class="relative">
      <img
        src="{{ anime!.images['jpg']['large_image_url'] }}"
        alt="{{ anime!.title }} + ' cover'"
        class="w-[400px] h-auto max-h-[60vh] object-cover rounded-md border-2 border-pink-700"
      />
      <p
        class="absolute top-3 right-3 z-20 w-14 h-14 bg-stone-100 border-2 rounded-full p-2 border-pink-700 flex items-center justify-center text-4xl text-pink-700"
      >
        {{ anime.score.toFixed(0) }}
      </p>
    </div>
    <div class="self-start w-full p-2 grid grid-cols-2"></div>
  </div>
  <!-- End Left Side -->
  <!-- Right Side -->
  <div
    class="flex flex-col col-span-2 gap-y-5 w-full h-full p-3 overflow-y-auto"
  >
    <div class="flex flex-col justify-center gap-y-0.5">
      <h1 class="uppercase text-pink-700 font-bold text-5xl">
        {{ anime.title_english }}
      </h1>
      <h4 class="text-stone-400 text-sm">{{ anime.title_japanese }}</h4>
    </div>
    <div>
      <h3 class="font-bold text-2xl tracking-tight uppercase">Plot</h3>
      <p class="text-lg font-light leading-6">{{ anime.synopsis }}</p>
    </div>
    <div class="flex gap-x-5 items-center overflow-x-auto px-4 w-full">
      @for (streaming of anime.streaming; track $index) {
      <div
        class="min-w-[220px] bg-pink-700 flex items-center justify-center px-5 py-2 rounded-xl"
      >
        <p class="text-[13px] uppercase font-semibold text-stone-200">
          {{ streaming.name }}
        </p>
      </div>
      }
    </div>
  </div>
  <!-- End Right Side-->
</div>

}
